# Basic .htaccess file
# Remove this file if you continue to have issues

# Enable URL rewriting
RewriteEngine On

# Handle all error types
ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 408 /404.php
ErrorDocument 429 /404.php
ErrorDocument 500 /505.php
ErrorDocument 502 /505.php
ErrorDocument 503 /505.php
ErrorDocument 504 /505.php
ErrorDocument 505 /505.php

# Force error pages to be displayed
php_flag display_errors off
php_flag log_errors on

# Custom error handling for PHP errors
php_value error_reporting 0
